# IntelliJ IDEA project files
.idea/*
!.idea/codeStyleSettings.xml

# Test coverage
coverage/

# npm modules
node_modules/

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
